* {
	margin: 0;
	padding: 0;
}

body {
	background: #D1D1D1;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1em;
	line-height: 2;
	}


.wrapper {
	width: 60%;
	display: block;
	margin: 0 auto;
}

header img {
	width: 100%;
	display: block;
}

.content_wrapper {
	width: 100%;
	display: block;
	background: #fff;
	padding: 30px 60px;
	box-sizing: border-box;
}

/*Text styling*/
h3, footer {
	text-align: center;
}

h3 {
	font-size: 2em;
	font-weight: normal;
}

span {
	font-weight: bold;
}

.italic {
	font-style: italic;
} 

/*Section styling*/

.wide_elem, 
.narrow_elem {
	padding-bottom: 30px;
	width: 100%;
	box-sizing: border-box;
}

.wide_elem .doctors {
	width: 45%;
}

.narrow_elem .doctors {
	width: 30%;
}

.wide_elem .doctors:last-child,
.narrow_elem .doctors:last-child {
	float: right;
	margin-right: 0;
}

.doctors img {
	width: 100%;
}

.doctors {
	float: left;
	margin-right: 5%;
}

/*Clearfix*/
.main_section:after,
.wide_elem::after, 
.narrow_elem::after {
	display: block;
	content:'';
	clear: both;
}


/*Button styling*/

button {
	margin-bottom: 10px;
	background-color: #D65C4B;
	color: #fff;
	border-radius: 10px;
	border: none;
	height: 40px;
	margin-bottom: 20px;
	font-weight: bold;
}

.doctors button {
	width: 100%;
}

.facebook {
	width: 50%;
	display: block;
	margin: 50px auto 20px;
}

/*Footer*/
footer * {
	color: #fff;
	font-size: 0.8em;
}






